.article
	font-family defaultFont
	color fontColor
	margin 20px 0px
	background-color postbgColor
	padding 20px 50px
	font-size 18px
	a
		color fontColor

.article a:hover
	text-decoration underline
	color fontColor

.article-head
	margin-bottom 30px


.archive-time
	float right
	position relative
	top -60px
	

.tag 
	display inline-block
.tag a
	color fontColor
.tag a:hover 
	color hoverColor

.share	p
	float left
.share a
	margin-top 0px

.article-share
	background-color #eee
	margin-top 40px
	padding 0px 30px
	height 40px
	line-height 1.5
	color titleColor

.article-category, .article-tags
	float left
	font-size 24px

.baidu-share
	
	float right
	p
		font-size 20px
		margin-bottom 0px