
#site-title 
	text-align center
	color titleColor	
	position relative
	top 0px

.site-name 
	font-family titleFont
	font-size 50px
	margin 0px
	a 
		color titleColor
		font-weight bold
	a:hover 
		text-shadow 2px 2px 2px #000,0px 0px 10px #fff,0px 0px 20px #fff
		color hoverColor


.site-motto 
	margin-bottom 20px
	font-size 19px
	
